[submodule "dotfiles"]
	path = dotfiles
	url = git@gist.github.com:11fc6cc5f08238a98bb95e9fb012748a.git
[submodule "dotfolders/.config/systemd/user"]
	path = dotfolders/.config/systemd/user
	url = git@gist.github.com:a81a9166d8a7bd2a1eb4ee4cae40a6b6.git
[submodule "dotfolders/.config/xfce4/terminal"]
	path = dotfolders/.config/xfce4/terminal
	url = git@gist.github.com:a34e1de72e46b03e2d05.git
[submodule "dotfolders/.ssh"]
	path = dotfolders/.ssh
	url = git@gist.github.com:6697f861521b63ab78ecfc3f50baa4c2.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@gist.github.com:11fc6cc5f08238a98bb95e9fb012748a.git
[submodule "dotfolders/.config/fish/functions"]
	path = dotfolders/.config/fish/functions
	url = git@gist.github.com:4aecdcc16769c84b605b053ca39ef8e8.git
[submodule "dotfolders/.config/fish/conf.d"]
	path = dotfolders/.config/fish/conf.d
	url = git@gist.github.com:d1721de33ce8371e5e1e586a0dee5a8a.git
