"*":
  "exception-reporting":
    userId: "9e82c9c2-e8f7-dba3-3221-cc9b5a646742"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "metrics"
      "autocomplete"
      "emmet"
    ]
  editor:
    invisibles:
      {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    preferredLineLength: 100
    lineHeight: 1.7
    fontSize: 12
    fontFamily: "monaco"
    softTabs: false
  linter:
    showInfoMessages: true
    statusBar: "Show all errors"
    showErrorInline: false
  "linter-flake8":
    binaryName: "/usr/local/bin/flake8"
    hangClosing: true
    maxLineLength: 100
  "atom-beautify":
    beautifyEntireFileOnSave: false
    js_eval_code: true
    js_end_with_newline: true
    js_break_chained_methods: true
    js_brace_style: "expand"
    js_jslint_happy: true
    js_keep_array_indentation: true
    js_keep_function_indentation: true
    _analyticsUserId: "d8ac94b9-1ab0-4b42-aa3c-e86591b0fa4b"
    php_fixers: "/usr/local/bin/php-cs-fixer"
    python_max_line_length: 100
    html_indent_inner_html: true
    html_end_with_newline: true
    css_newline_between_rules: true
    css_preserve_newlines: true
    css_selector_separator_newline: true
    js_space_in_paren: true
  emmet:
    {}
  "autocomplete-jedi":
    includeCompletionsFromAllBuffers: true
  "git-diff":
    showIconsInEditorGutter: true
  docblockr:
    newline_after_block: true
  minimap:
    {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    strictMatching: true
    confirmCompletion: "tab and enter"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/bin/shellcheck"
  "linter-clang":
    clangSuppressWarnings: true
  "linter-phpcs":
    {}
  "linter-phpmd":
    {}
  "linter-golint":
    {}
  term2:
    colors:
      {}
  "atom-alignment":
    {}
".asm.source.x86":
  editor:
    preferredLineLength: 100
".source.xhtml":
  editor:
    preferredLineLength: 100
